@import 'reset';
@import 'typography';

.main {
	width: 50%;
	max-width: 600px;
	margin: auto;
	border-radius: 6px;
	padding: 8px 0;
}

.formGroup {
	padding: 8px;
	margin: 4px 0;
	background-color: #fff;
	border-radius: 5px;
}

.nameInput {
	display: block;
	width: 100%;
	padding: 8px;
}

.nameInput:focus {}

.nameLen {
	display: block;
	flex: 1 1 50%;
	text-align: center;
	padding: 8px 0;
}

.nameGroupOutput {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.nameOutput {
	display: block;
	width: 100%;
	padding: 8px;
}

.nameOutput:focus {}

.shortenName {
	cursor: pointer;
	font-weight: bold;
	background-color: $tr-orange;
	border: 0;
	border-radius: 5px;
	color: $tr-white;
	flex: 1 1 50%;
	box-shadow: 0 1px 1px $tr-darkgray;

	&:focus,
	&:hover {
		outline: none;
		background-color: $tr-darkorange;
	}

	&:active {
		outline: none;
		background-color: $tr-darkorange;
		box-shadow: inset 0 1px 1px $tr-darkgray;
	}
}

.settingsOpt {
	cursor: pointer;
	display: block;
}

input[type="checkbox"] {
	cursor: pointer;
}

.objInput {
	width: 100%;
	height: 200px;
}

.warning {
	color: $tr-darkorange;
	font-weight: bold;
}
