@import 'reset';
@import 'typography';

.header {
	width: 100%;
	padding: 1rem;
	text-align: center;
	background-color: $tr-darkgray;
}

.footer {
	padding: .5rem;
	text-align: center;
}

.header__title {
	color: $tr-lightorange;
}

.main {
	display: flex;
	align-items: center;
	flex-flow: column;
}

.section {
	display: flex;
	width: 66.6666%;
	max-width: 680px;
	margin: auto;
	padding: 8px;
	align-items: flex-end;
	flex-flow: column;
}

.section__header {
	display: inline;
	align-self: flex-start;
}

.section__rules {
	display: none;
}

.section__rules--show {
	display: flex;
}

.table-rules {
	width: 100%;
	margin: 16px 0;
	table-layout: fixed;
}

.table-rules__header {
	font-weight: bold;
	color: $tr-white;
	background-color: $tr-darkgray;
}

.table-rules__item {
	padding: .4rem;
	border: 1px solid $own-mutedgray;
}

.table-rules__item--editable {
	line-height: 1rem;

	&:focus {
		border: 2px solid $tr-orange;
		outline: none;
	}
}

.table-rules__item--noborder {
	padding: .4rem;
	border: 0;
}

.table-rules__item--removerule {
	width: 100px;
}

.button {
	font-weight: bold;
	display: block;
	min-width: 200px;
	height: 2rem;
	margin: .2rem 0;
	padding: 0 .5rem;
	cursor: pointer;
	color: $tr-orange;
	border: 2px solid $tr-orange;
	border-radius: 4px;
	background-color: $tr-white;

	&:focus {
		border: 2px dashed $tr-orange;
		outline: none;
	}

	&:hover {
		color: $tr-white;
		outline: none;
		background-color: $tr-orange;
	}

	&:active {
		outline: none;
		background-color: $tr-darkorange;
		box-shadow: inset 0 1px 1px $tr-darkgray;
	}
}

.button--intable {
	min-width: 0;
	width: 5.5rem;
	height: 1.7rem;
	margin: 0;
}

.button-link {
	line-height: 1.7;
	text-align: center;

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

.input-label {
	width: 100%;
}

.input-label--visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.textarea {
	font-family: $sans;
	font-size: 1rem;
	display: block;
	width: 100%;
	padding: .5rem;
	resize: vertical;
	border: 1px solid $tr-lightgray;
	border-radius: 4px;

	&:focus {
		border: 2px solid $tr-orange;
		outline: none;
	}
}

.textarea--expandable {
	resize: none;
}

.textarea--minheight {
	min-height: 12rem;
}

::-webkit-input-placeholder {
	font-size: .8rem;
	opacity: 1;
	color: $tr-lightgray;
}

::-moz-placeholder {
	font-size: .8rem;
	opacity: 1;
	color: $tr-lightgray;
}

:-ms-input-placeholder {
	font-size: .8rem;
	opacity: 1;
	color: $tr-lightgray;
}

:-moz-placeholder {
	font-size: .8rem;
	opacity: 1;
	color: $tr-lightgray;
}

.container-count {
	display: flex;
	width: 100%;
	margin: .2rem 0;
	flex-flow: row;
}

.container-count__input-text {
	display: block;
	flex: 1 1 auto;
	height: 2rem;
	padding: .5rem;
	border: 1px solid $tr-lightgray;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	align-self: flex-start;

	&:focus {
		border: 2px solid $tr-orange;
		outline: none;
	}
}

.container-count__length {
	line-height: 2rem;
	display: block;
	flex: 0 0 3rem;
	width: 3rem;
	height: 2rem;
	padding: 0 .5rem;
	text-align: center;
	border: 1px solid $tr-lightgray;
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.objective {
	display: flex;
	width: 100%;
	align-items: center;
	flex-flow: row;
	justify-content: space-between;
}

.objective__length {
	flex: 1 0 auto;
	text-align: center;
}

.length--warning {
	font-weight: bold;
	color: $tr-darkorange;
}

.options__list {
	align-self: flex-start;
}

.input-checkbox {
	position: absolute;
	opacity: 0;

	&:focus + .input-checkbox__label,
	&:hover + .input-checkbox__label {
		&:before {
			transform: scale(1.1);
			border: 1px solid $tr-orange;
			box-shadow: 0 0 0 1px $tr-orange;
		}
	}

	&:checked + .input-checkbox__label {
		&:before {
			border: 1px solid $tr-darkorange;
			background: $tr-orange;
		}

		&:after {
			position: absolute;
			top: 4px;
			left: 4px;
			width: 8px;
			height: 4px;
			content: '';
			transform: rotate(-45deg);
			opacity: 1;
			border: 2px solid $tr-white;
			border-top: 0;
			border-right: 0;
			background: transparent;
		}
	}
}

.input-checkbox__label {
	position: relative;
	cursor: pointer;

	&:before {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: 10px;
		content: '';
		vertical-align: text-top;
		border: 1px solid $tr-lightgray;
		border-radius: 4px;
	}
}

.shareclass-list {
	width: 100%;
	margin-bottom: 1em;
}

.shareclass-list__item {
	line-height: 1.6rem;
	display: inline-block;
	width: calc(100% - 3rem);
	height: 1.6rem;
	border-bottom: 1px dotted $tr-lightorange;

	&:focus {
		border-color: $tr-orange;
		border-bottom-style: solid;
		outline: none;
	}
}

.shareclass-list__length {
	line-height: 1.6rem;
	display: inline-block;
	width: 3rem;
	height: 1.6rem;
	padding: 0 .5rem;
	cursor: pointer;
	text-align: center;
	border-bottom: 1px dotted $tr-lightorange;
	border-left: 1px dotted $tr-lightorange;
	border-radius: 0;
}

[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;

	&:after,
	&:before {
		transition: transform .2s;
		pointer-events: none;
	}

	&:before {
		line-height: 1.6rem;
		position: absolute;
		top: 0;
		right: 100%;
		box-sizing: border-box;
		height: 1.6rem;
		padding: 0 1em 0 1.5em;
		content: attr(data-tooltip);
		transform: scaleX(0);
		transform-origin: right;
		text-align: center;
		border-bottom: 1px dotted $tr-lightorange;
		border-left: 1px dotted $tr-lightorange;
		background: rgba($tr-white, 1);
	}

	&:after {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		right: calc(100% + 3rem);
		margin-top: -5px;
		margin-right: 8px;
		padding: 4px;
		content: ' ';
		transform: rotate(135deg);
		opacity: 0;
		// transform: rotate(135deg);
		border: solid $tr-lightorange;
		border-width: 0 2px 2px 0;
	}

	&:hover {
		border-left: 0;

		&:before {
			transform: scaleX(1);
		}

		&:after {
			opacity: 1;
		}
	}
}
