* {
  box-sizing: border-box; }

/* RESET */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video, button {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/* RESET END */
@font-face {
  font-family: 'Knowledge';
  src: url("fonts/knowledge2017-20170221/Knowledge2017-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: 'Knowledge';
  src: url("fonts/knowledge2017-20170221/Knowledge2017-Bold.ttf");
  font-weight: bold; }
html {
  font-size: 16px; }

body {
  color: #4D4D4D;
  font-family: "Knowledge", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5; }

::selection {
  background: #FF8000;
  color: #fff; }

::-moz-selection {
  background: #FF8000;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Knowledge", sans-serif; }

h1 {
  padding: 16px;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  font-weight: bold; }

h3 {
  font-size: 1.25em;
  font-weight: bold; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1.0625em; }

p {
  font-size: 1.1em;
  max-width: 32rem;
  margin: auto;
  text-align: center; }

small {
  font-size: .8em; }

a {
  transition: .4s;
  text-decoration: none;
  color: #FF8000; }
  a:focus, a:hover {
    text-decoration: underline;
    color: #4D4D4D; }
  a:active {
    color: #FF8000;
    text-shadow: none; }

i {
  font-style: italic; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  font-variant: small-caps; }

/* TYPOGRAPHY END */
h1 {
  background-color: #4D4D4D;
  color: #ffa100; }

.main {
  width: 66.6666%;
  max-width: 680px;
  margin: auto;
  padding: 8px 0; }

.formGroup {
  padding: 8px;
  margin: 4px 0; }

.nameInput,
.nameOutput {
  height: 33px;
  border-radius: 4px;
  border: 1px solid #afafaf;
  display: block;
  width: 100%;
  padding: 8px; }

.nameInput:focus,
.nameOutput:focus,
.objInput:focus {
  outline: none;
  border: 2px solid #FF8000; }

.nameLen {
  display: block;
  flex: 1 1 50%;
  text-align: center;
  padding: 8px 0; }

.nameGroupOutput {
  margin: 4px 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.linkButton,
.shortenName {
  padding: 0 .5em;
  min-height: 28px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #FF8000;
  border-radius: 4px;
  color: #FF8000;
  flex: 0 1 50%; }
  .linkButton:focus, .linkButton:hover,
  .shortenName:focus,
  .shortenName:hover {
    outline: none;
    color: #fff;
    background-color: #FF8000; }
  .linkButton:active,
  .shortenName:active {
    outline: none;
    background-color: #ff5900;
    box-shadow: inset 0 1px 1px #4D4D4D; }

.linkButton {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .linkButton:active, .linkButton:focus, .linkButton:hover {
    text-decoration: none; }

.settingsOpt {
  cursor: pointer;
  display: block; }

input[type="checkbox"] {
  cursor: pointer; }

input[type="checkbox"]:checked + span {
  border-bottom: 2px solid #FF8000; }

.objInput {
  resize: vertical;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  border: 1px solid #afafaf;
  padding: 8px;
  font-family: "Knowledge", sans-serif;
  font-size: 1em; }

.warning {
  color: #ff5900;
  font-weight: bold; }

.tableRules {
  width: 100%;
  margin: 16px 0; }
  .tableRules thead {
    font-weight: bold;
    background-color: #4D4D4D;
    color: #fff; }
  .tableRules td,
  .tableRules th,
  .tableRules tr {
    padding: .4em; }
  .tableRules td {
    border: 1px #ededed solid; }
  .tableRules tbody tr:hover {
    background-color: #ededed; }

.rules {
  display: none; }
  .rules.show {
    display: block; }

/*# sourceMappingURL=styles.css.map */
