@font-face {
	font-family: 'Knowledge';
	src: url('fonts/knowledge2017-20170221/Knowledge2017-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Knowledge';
	src: url('fonts/knowledge2017-20170221/Knowledge2017-Bold.ttf');
	font-weight: bold;
}
$primary-color: #853109;
$tr-white: #fff;
$tr-darkgray: #4D4D4D;
$tr-lightgray: #afafaf;
$tr-mutedgray: #D0D0D0;
$own-mutedgray: #ededed;
$tr-orange: #FF8000;
$tr-darkorange: #ff5900;
$tr-lightorange: #ffa100;
$own-mutedorange: #ffeccc; //tint of $tr-lightorange
$tr-darkgreen: #387C2B;
$sans: 'Knowledge', sans-serif;
$monospace: 'Courier new', Courier, 'Andale Mono', monospace;
$hover-shadow: 0 .2rem .2rem $tr-orange;
$hover-shadow-dark: 0 .15rem .1rem rgba($tr-darkgray, .5);

html {
	font-size: 16px;
}

body {
	color: $tr-darkgray;
	font-family: $sans;
	font-weight: 400;
	font-size: 100%;
	line-height: 1.5;
}

::selection {
	background: $tr-orange;
	color: $tr-white;
}

::-moz-selection {
	background: $tr-orange;
	color: $tr-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $sans;
}

h1 {
	padding: 16px;
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

h3 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1.0625em;
}

p {
	font-size: 1.1em;
	max-width: 32rem;
	margin: auto;
	text-align: center;
}

small {
	font-size: .8em;
	color: $tr-lightgray;
}

a {
	transition: .4s;
	text-decoration: none;
	color: $tr-orange;

	&:focus,
	&:hover {
		text-decoration: underline;
		color: $tr-darkgray;
	}

	&:active {
		color: $tr-orange;
		text-shadow: none;
	}
}

i {
	font-style: italic;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
	font-variant: small-caps;
}
/* TYPOGRAPHY END */
