* {
  box-sizing: border-box; }

/* RESET */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video, button {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

/* RESET END */
@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge2017-20170221/Knowledge2017-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge2017-20170221/Knowledge2017-Bold.ttf");
  font-weight: bold; }

html {
  font-size: 16px; }

body {
  color: #4D4D4D;
  font-family: "Knowledge", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5; }

::selection {
  background: #FF8000;
  color: #fff; }

::-moz-selection {
  background: #FF8000;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Knowledge", sans-serif; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h2 {
  display: inline;
  font-size: 1.25em;
  font-weight: bold; }

h3 {
  display: inline;
  font-size: 1em;
  font-weight: bold; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1.0625em; }

p {
  font-size: 1em;
  padding: .4rem 0; }

small {
  font-size: .8em;
  color: #afafaf; }

a {
  color: #ff5900;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    outline: none;
    color: #FF8000;
    text-decoration: underline; }

i {
  font-style: italic; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

/* TYPOGRAPHY END */
body {
  overflow-x: hidden; }

.header {
  width: 100%;
  padding: .5rem;
  text-align: center;
  background-color: #4D4D4D; }

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.header__title {
  color: #ffa100; }

.main {
  display: flex;
  align-items: center;
  flex-flow: column; }

.section {
  display: flex;
  width: 66.6666%;
  max-width: 680px;
  margin: auto;
  padding: 8px;
  align-items: flex-end;
  flex-flow: column; }

.section__header {
  display: inline;
  align-self: flex-start; }

.section__rules {
  display: none; }

.rules__buttons {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between; }

.rules__input-file {
  display: none; }

.section__rules--show {
  display: flex; }

.manual {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: auto;
  transition: .4s;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(77, 77, 77, 0.6);
  align-items: flex-start;
  justify-content: center; }

.manual--visible {
  pointer-events: all;
  opacity: 1; }

.manual__content {
  position: relative;
  max-width: 680px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #FF8000;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 2px #ffa100; }

.manual__list {
  counter-reset: item; }
  .manual__list li {
    margin-bottom: 1rem;
    padding-left: 60px;
    counter-increment: item; }
    .manual__list li:before {
      display: inline-block;
      width: 1rem;
      margin-right: 10px;
      margin-left: -60px;
      padding: 0 1rem;
      content: counter(item);
      text-align: center;
      border: 1px solid #FF8000; }

.manual__close {
  font-size: .7rem;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: transparent; }
  .manual__close:focus, .manual__close:hover {
    color: #FF8000;
    outline: none;
    text-shadow: 0 0 2px #FF8000; }

.table-rules {
  display: flex;
  width: 100%;
  margin: 16px 0;
  align-items: stretch;
  flex-flow: column nowrap; }

.table-rules__header {
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #4D4D4D; }

.table-rules__footer {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed; }

.table-rules__body {
  display: flex;
  overflow: auto;
  max-height: 500px;
  border-left: 1px solid #ededed;
  flex-flow: column nowrap; }

.table-rules__row {
  display: flex;
  flex: 1 0;
  border-bottom: 1px solid #ededed;
  flex-flow: row; }
  .table-rules__row:last-child {
    border-bottom: none; }

.table-rules__row--header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.table-rules__item {
  flex: 1 0 25%;
  padding: .4rem;
  border-collapse: collapse;
  border-right: 1px solid #ededed; }

.table-rules__item--narrow {
  flex: 0 0 100px;
  width: 100px; }

.table-rules__item--narrower {
  flex: 0 0 50px;
  width: 50px; }

.table-rules__item--editable {
  padding: 0; }

.table-rules__input-text {
  font-family: "Knowledge", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .4em;
  border: 0; }
  .table-rules__input-text:focus {
    padding: calc(.4em - 2px);
    border: 2px solid #FF8000;
    outline: none; }

.table-rules__item--noborder {
  border: 0; }

.button {
  font-weight: bold;
  display: block;
  min-width: 200px;
  height: 2rem;
  margin: .2rem 0;
  padding: 0 .5rem;
  cursor: pointer;
  color: #FF8000;
  border: 1px solid #FF8000;
  border-radius: 4px;
  background-color: #fff; }
  .button:focus {
    border: 2px dashed #FF8000;
    outline: none; }
  .button:hover {
    color: #fff;
    outline: none;
    background-color: #FF8000; }
  .button:active {
    outline: none;
    background-color: #ff5900;
    box-shadow: inset 0 1px 1px #4D4D4D; }

.button--intable {
  width: 5.5rem;
  min-width: 0;
  height: 1.7rem;
  margin: 0; }

.button--unsaved {
  animation: pulse 2s infinite; }

.button-link {
  display: flex;
  align-items: center;
  justify-content: center; }
  .button-link:active, .button-link:focus {
    text-decoration: none; }
  .button-link:hover {
    text-decoration: none; }

.button-instructions {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem; }

@media (max-width: 1200px) {
  .button-instructions {
    position: relative; } }

.button--narrow {
  min-width: 80px;
  margin-right: 10px;
  margin-left: 10px; }

.button--disabled {
  cursor: not-allowed;
  filter: grayscale(1) blur(1px); }
  .button--disabled:hover {
    color: #FF8000;
    background-color: #fff; }

.input-label {
  width: 100%; }

.input-label--visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.textarea {
  font-family: "Knowledge", sans-serif;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: .5rem;
  resize: vertical;
  border: 1px solid #afafaf;
  border-radius: 4px; }
  .textarea:focus {
    padding: calc(.5rem - 1px);
    border: 2px solid #FF8000;
    outline: none; }

.textarea--expandable {
  resize: none; }

.textarea--minheight {
  min-height: 12rem; }

::-webkit-input-placeholder {
  font-size: .8rem;
  opacity: 1;
  color: #afafaf; }

::-moz-placeholder {
  font-size: .8rem;
  opacity: 1;
  color: #afafaf; }

:-ms-input-placeholder {
  font-size: .8rem;
  opacity: 1;
  color: #afafaf; }

:-moz-placeholder {
  font-size: .8rem;
  opacity: 1;
  color: #afafaf; }

.container-count {
  display: flex;
  width: 100%;
  margin: .2rem 0;
  flex-flow: row; }

.container-count__input-text {
  font-family: "Knowledge", sans-serif;
  font-size: 1rem;
  display: block;
  flex: 1 1 auto;
  height: 2rem;
  padding: .4rem;
  border: 1px solid #afafaf;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  align-self: flex-start; }
  .container-count__input-text:focus {
    padding: calc(.4rem - 1px);
    border: 2px solid #FF8000;
    outline: none; }

.container-count__length {
  line-height: 2rem;
  display: block;
  flex: 0 0 3rem;
  width: 3rem;
  height: 2rem;
  padding: 0 .5rem;
  text-align: center;
  border: 1px solid #afafaf;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.objective {
  display: flex;
  width: 100%;
  align-items: center;
  flex-flow: row;
  justify-content: space-between; }

.objective__length {
  flex: 1 0 auto;
  text-align: center; }

.length--warning {
  font-weight: bold;
  color: #ff5900; }

.options-list {
  display: flex;
  align-self: flex-start;
  flex-flow: row wrap; }

.options-remove {
  display: flex;
  flex: 1 1 100%;
  padding: .4rem 0;
  align-items: center;
  flex-flow: row wrap; }

.options-remove__label {
  margin-right: 1rem; }

.options-remove__input-text {
  font-family: "Knowledge", sans-serif;
  font-size: 1rem;
  flex: 1 1 auto;
  height: 2rem;
  padding: .4rem;
  border: 1px solid #afafaf;
  border-radius: 4px; }
  .options-remove__input-text:focus {
    padding: calc(.4em - 2px);
    border: 2px solid #FF8000;
    outline: none; }

.options-list__item {
  flex: 0 0 50%;
  padding-right: 1rem; }

.input-checkbox {
  position: absolute;
  opacity: 0; }
  .input-checkbox:focus + .input-checkbox__label:before,
  .input-checkbox:hover + .input-checkbox__label:before {
    transform: scale(1.1);
    border: 1px solid #FF8000;
    box-shadow: 0 0 0 1px #FF8000; }
  .input-checkbox:checked + .input-checkbox__label:before {
    border: 1px solid #ff5900;
    background: #FF8000; }
  .input-checkbox:checked + .input-checkbox__label:after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 4px;
    content: '';
    transform: rotate(-45deg);
    opacity: 1;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    background: transparent; }

.input-checkbox__label {
  position: relative;
  cursor: pointer;
  white-space: nowrap; }
  .input-checkbox__label:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 10px;
    content: '';
    vertical-align: text-top;
    border: 1px solid #afafaf;
    border-radius: 4px; }

.shareclass-list {
  width: 100%;
  margin-bottom: 1em; }

.shareclass-list__item {
  line-height: 1.6rem;
  display: inline-block;
  width: calc(100% - 3rem);
  height: 1.6rem;
  border-bottom: 1px dotted #ffa100; }
  .shareclass-list__item:focus {
    border-color: #FF8000;
    border-bottom-style: solid;
    outline: none; }

.shareclass-list__length {
  line-height: 1.6rem;
  display: inline-block;
  width: 3rem;
  height: 1.6rem;
  padding: 0 .5rem;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px dotted #ffa100;
  border-left: 1px dotted #ffa100;
  border-radius: 0; }

[data-tooltip] {
  position: relative;
  z-index: 1;
  cursor: pointer; }
  [data-tooltip]:after, [data-tooltip]:before {
    transition: transform .2s;
    pointer-events: none; }
  [data-tooltip]:before {
    line-height: 1.6rem;
    position: absolute;
    top: 0;
    right: 100%;
    box-sizing: border-box;
    height: 1.6rem;
    padding: 0 1em 0 1.5em;
    content: attr(data-tooltip);
    transform: scaleX(0);
    transform-origin: right;
    text-align: center;
    border-bottom: 1px dotted #ffa100;
    border-left: 1px dotted #ffa100;
    background: white; }
  [data-tooltip]:after {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: calc(100% + 3rem);
    margin-top: -5px;
    margin-right: 8px;
    padding: 4px;
    content: ' ';
    transform: rotate(135deg);
    opacity: 0;
    border: solid #ffa100;
    border-width: 0 2px 2px 0; }
  [data-tooltip]:hover {
    border-left: 0; }
    [data-tooltip]:hover:before {
      transform: scaleX(1); }
    [data-tooltip]:hover:after {
      opacity: 1; }

.github-link {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  transition: .2s ease-in-out;
  border: 2px dotted #ff5900;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
  justify-content: center; }
  .github-link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px #FF8000; }

.github-link__logo {
  width: 1.5rem;
  height: 1.5rem; }

@media (max-width: 600px) {
  .footer {
    position: relative; } }

.notification {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin: 2rem;
  padding: 1rem;
  transition: 1s;
  transform: translateX(-100%);
  opacity: 0;
  border: 1px solid #ffa100;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 2px #ffa100;
  align-content: center;
  align-items: center;
  flex-flow: row;
  justify-content: space-between; }

.notification__message {
  flex-grow: 1; }

.notification__close {
  font-size: .7rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: transparent; }
  .notification__close:focus, .notification__close:hover {
    color: #FF8000;
    outline: none;
    text-shadow: 0 0 2px #FF8000; }

.notification__buttons {
  display: flex;
  flex: 0 0 auto;
  margin-top: .5rem;
  flex-flow: row nowrap; }

.notification--visible {
  transform: translateX(0);
  opacity: 1; }

.notification--success {
  border-color: #387C2B;
  box-shadow: 0 0 2px #387C2B; }

.notification--warning {
  border-color: #FF8000;
  box-shadow: 0 0 2px #FF8000; }
  .notification--warning .notification__message:before {
    font-weight: bold;
    margin-right: .5rem;
    content: 'Warning:'; }

.notification--error {
  font-weight: bold;
  animation: pulse__warning 2s infinite;
  border-color: #ff5900; }
  .notification--error .notification__message:before {
    font-weight: bold;
    margin-right: .5rem;
    content: 'Error:'; }

.notification--confirm {
  animation: pulse 2s infinite;
  flex-flow: column; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffa100; }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 161, 0, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 161, 0, 0); } }

@keyframes pulse__warning {
  0% {
    box-shadow: 0 0 0 0 #ff5900; }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 89, 0, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 89, 0, 0); } }
