.options-list {
  display: flex;
  align-self: flex-start;
  flex-flow: row wrap;
}

.options-list__item {
  flex: 0 0 50%;
  padding-right: 1rem;
}

.options-remove {
  display: flex;
  flex: 1 1 100%;
  padding-right: 0;
  margin-top: 0.5rem;
  align-items: center;
  flex-flow: row wrap;
}

.options-remove__label {
  margin-right: 1rem;
}

.options-remove__input-text {
  font-family: $sans;
  font-size: 1rem;
  flex: 1 1 auto;
  height: 2rem;
  padding: 0.4rem;
  border: 1px solid $own-mutedgray;
  box-shadow: 0 0.25rem 1rem -0.5rem $tr-lightgray;
  transition: 0.2s;

  &:focus {
    border: 1px solid $tr-orange;
    outline: none;
  }
}
